body {
  background-color: #f0ffff;
}

hr {
  border-style: inset;
  border-color: grey;
}

h1 {
  color: #00ced1;
}

h3 {
  color: #00ced1;
}

img.hover {
  background-color: #00ced1;
}

.circular {
  border-radius: 100%;
}
